.container {
  display: flex;
  gap: 100px;
  margin: 0 auto;
  padding-left: 16px;
  padding-right: 16px;
  height: 70px;
  background-color: black;
  color: aliceblue;
  text-align: center;
  justify-content: center;
}

.link {
  display: flex;
  align-items: center;
}
